<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaOz8AyclnKSq7u3Ths1tAM9S3igViN20</string>
	<key>GCM_SENDER_ID</key>
	<string>360283459994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.imagegerator</string>
	<key>PROJECT_ID</key>
	<string>image-gerator-ykf71m</string>
	<key>STORAGE_BUCKET</key>
	<string>image-gerator-ykf71m.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360283459994:ios:801723387f6171c60a6a23</string>
</dict>
</plist>